{% extends "index.html" %}

{% block content %}
  {% load static %}
  
  {% if page == 'login' %}
  <!-- Login -->
  <section class="login-container">
    <div class="login-form-img">
      <img src="{% static 'images/doctor-1.png' %}" alt="" srcset="">
    </div>
    <div class="login-form">
      <h3>Sign in to Vern Dental</h3>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="login">
          <div class="login-input">
            <p>Email</p>
            <input type="email" name="email" placeholder="Please Enter Your Email Address" required>
          </div>
          <div class="login-input">
            <p>Password</p>
            <input type="password" name="password" placeholder="Please Enter Your Password" required>
          </div>
          <button class="login-btn" type="submit">Sign in</button>
        </div>
      </form>
      <p class="login-signup">New to Vern Dental? <a href="{% url 'signup' %}">Please Sign up</a></p>
    </div>
  </section>
  {% endif %}

  {% if page == 'signup' %}
  <!-- Sign Up -->
  <section class="signup-container">
    <div class="signup-form-img">
      <img src="{% static 'images/doctor-1.png' %}" alt="" srcset="">
    </div>
    <div class="signup-form">
      <h3>Sign up for Vern Dental</h3>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="signup">
          <div class="signup-input">
            <p>Username</p>
            <input type="text" name="username" placeholder="Choose a Username" required>
          </div>
          <div class="signup-input">
            <p>Email Address</p>
            <input type="email" name="email" placeholder="Enter Your Email Address" required>
          </div>
          <div class="signup-input">
            <p>Password</p>
            <input type="password" name="password1" placeholder="Choose a Password" required>
          </div>
          <div class="signup-input">
            <p>Confirm Password</p>
            <input type="password" name="password2" placeholder="Confirm Your Password" required>
          </div>
          <button class="signup-btn" type="submit">Sign up</button>
        </div>
      </form>
      <p class="signup-login">Already have an account? <a href="{% url 'login' %}">Please Sign in</a></p>
    </div>
  </section>
  {% endif %}
  
{% endblock content %}
