{% extends "index.html" %}

{% block content %}
<section class="dashboard">
    {% if user.userprofile.userType == 'doctor' %}
    {% include "dashboard/doctor-dashboard-nav.html" %}
 
    {% else %}
    {% include "dashboard/normal-dashboard-nav.html" %}
 
    {% endif %}
    
    <div class="dashboard-room">
        {% if user.userprofile.userType == 'doctor' %}
        <h3>upcoming patient</h3>
     
        {% else %}
        <h3>My Appointment</h3>
     
        {% endif %}
        <table class="appointments-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Service</th>
                    <th>{% if user.userprofile.userType == 'doctor' %}Patient{% else %}Doctor{% endif %}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.startTime }} - {{ appointment.endTime }}</td>
                    <td>{{ appointment.doctor.specialties.first }}</td>
                    <td>{% if user.userprofile.userType == 'doctor' %}{{ appointment.patient }}{% else %}{{ appointment.doctor.user.username }}{% endif %}</td>
                    <td>
                        {% if user.userprofile.userType == 'normal' %}
                        <a href="{% url 'cancelAppointment' appointment.id %}">Cancel</a>
                        {% endif %}
                        {% if user.userprofile.userType == 'doctor' %}
                        <a href="{% url 'cancelAppointment' appointment.id %}">Cancel</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
