{% extends "index.html" %}

{% block content %}
<section class="dashboard">
    {% if user.userprofile.userType == 'doctor' %}
    {% include "dashboard/doctor-dashboard-nav.html" %}
    {% elif user.userprofile.userType == 'admin' %}
    {% include "dashboard/admin-dashboard-nav.html" %}
    {% endif %}
    
    <div class="dashboard-room">
       
        <h3>Create a New Slot</h3>
        <form method="post" action="{% url 'createSlot' %}" class="add-doctor-form">
            {% csrf_token %}
            <div class="form-input">
                <label for="id_date">Select Date</label>
                <input type="date" id="id_date" name="date" required>
            </div>
            <div class="form-input">
                <label for="id_startTime">Select Start Time</label>
                <input type="time" id="id_startTime" name="startTime" required>
            </div>
            <div class="form-input">
                <label for="id_endTime">Select End Time</label>
                <input type="time" id="id_endTime" name="endTime" required>
            </div>
            
            {% if user.userprofile.userType == 'admin' %}
            <div class="form-input">
                <label for="id_doctor">Select Doctor</label>
                <select id="id_doctor" name="doctor" required>
                    <option value="" disabled>Select Doctor</option>
                    {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{ doctor.user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            {% elif user.userprofile.userType == 'doctor' %}
         
            <div class="form-input">
                <label for="id_doctor">Doctor</label>
                <input type="text" id="id_doctor" name="doctor" value="{{ request.user.username }}" >
            </div>
            {% endif %}
            
            <button class="add-doctor-btn" type="submit">Create Slot</button>
        </form>

    </div>
</section>
{% endblock content %}
