{% extends "index.html" %}

{% block content %}
<section class="dashboard">
    {% if user.userprofile.userType == 'doctor' %}
    {% include "dashboard/doctor-dashboard-nav.html" %}
    {% elif user.userprofile.userType == 'admin' %}
    {% include "dashboard/admin-dashboard-nav.html" %}
    {% endif %}
    
    <div class="dashboard-room">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for slot in unbookedSlots %}
                <tr>
                    <td>{{ slot.date }}</td>
                    <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
                    <td>{{ slot.doctor.user.username }}</td>
                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}
