<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vern Dental House</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

  
</head>
<body>
    {% include "navbar.html" %}
  
    
    {% if messages %}
    <!-- Message Modal -->
    <div class="modal" id="successModal">
        <div class="modal-content">
            <span class="close" id="closeBtn">&times;</span>
            <h2>Message</h2>
            {% for message in messages %}
                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {% if message.tags == 'error' %}
                        <span class="error-icon">Error:</span> {{ message }}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <div id="superuserModal" class="supermodal">
        <div class="super-modal-content">
            <span id="superCancelButton" class="super-cancel-button">X</span>
            <h2>Superuser Login</h2>
            <p>Username: admin</p>
            <p>Password: <strong>vern1234</strong></p>
            <p>Explore additional details in our GitHub README.md.</p>
    <p>Stay tuned ,continuously enhance the application for you.</p>
    
        </div>
    </div>

    <script>
        const superuserModal = document.getElementById('superuserModal');
        const modalDismissed = localStorage.getItem('superuserModalDismissed');
        // console.log(modalDismissed)
        if (!modalDismissed) {
            // console.log('here')
            superuserModal.style.display = 'block';
        }

        document.getElementById('superCancelButton').addEventListener('click', function () {
            superuserModal.style.display = 'none';
            localStorage.setItem('superuserModalDismissed', 'true');
        });
    </script>

   

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/modalMessage.js' %}"></script>
</body>
</html>
