<nav id="desktop-nav">
  <a href="/" class="logo">Vern Dental House</a>
  <div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'signout' %}">Sign Out</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<nav id="hamburger-nav">
  <a href="/" class="logo">Vern Dental House</a>
  <div class="hamburger-menu">
    <div class="hamburger-icon" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links">
      <li><a href="#about" onclick="toggleMenu()">About</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'signout' %}" onclick="toggleMenu()">Sign Out</a></li>
      <li><a href="/dashboard" onclick="toggleMenu()">Dashboard</a></li>
      {% else %}
      <li><a href="{% url 'login' %}" onclick="toggleMenu()">Login</a></li>
      {% endif %}
    </div>
  </div>
</nav>
